.create-recipe {
    box-sizing: border-box;
}
.create-recipe-td {
    width: 250px;
}
.create-recipe-input {
    width: 400px;
    margin: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.pr-10 {
    padding-right: 10px;
}
